<a href="https://colab.research.google.com/github/BenNicart/CPEN-21A-CPE-1-1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Python Programming

In [8]:
b = "Sally"
print(type(b))

<class 'str'>

##Naming Variables

In [12]:
a = 'Sally'
A = 'John'
print(a)
print (A)

Sally
John

In [9]:
a, b, c = 0, 1, 2
print(type(a))             #This is a program using type function
print(b)
print(c)

<class 'int'>
1
2

In [10]:
a = float(4.50)
print(type(a))

<class 'float'>

###One Value to Multiple Variables

In [13]:
x = y = z ="four"
print(x)
print(y)
print(z)

four
four
four

In [20]:
x ="enjoying"
print('Phython programming is '''+ x)

Phython programming is enjoying

In [22]:
x = 4
y = 5
print(x+y)
print(x-y)

9
-1

In [29]:
not(x>y or x==x)             #This is an example of program of logical operator

False