<a href="https://colab.research.google.com/github/BenNicart/CPEN-21A-CPE-1-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop Statement

In [ ]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Saturday

The break statement

In [ ]:
vweek = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through a string

In [ ]:
for x in "week":
  print(x)

w
e
e
k

The range() function

In [ ]:
print("Example 1")
for x in range(6):
  print(x)
print("Example 2")
for x in range(2,6):
  print(x)

Example 1
0
1
2
3
4
5
Example 2
2
3
4
5

Nested Loops

In [ ]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop Statement

In [ ]:
i = 1
while i<6:
  print(i)
  i+=1 #Assignment operator for addition

1
2
3
4
5

Break statement

In [ ]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1 #Assignment operator for addition

1
2
3

In [ ]:
i=1
while  i<6:
  i+=1
  if i==3:
    continue
  print(i)

2
4
5
6

The else statement

In [ ]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

###Application 1
Create a phyton program that displays:
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10 (in vetical)

In [ ]:
hello = ["Hello"]
number = ["0","1","2","3","4","5","6","7","8","9","10"]

for x in hello:
  for y in number:
    print(x,y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [61]:
for x in range(11):
  print("Hello",x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [68]:
i=1
while  i<10:
  i+=1
  if i==2:
    continue
  print(i)

3
4
5
6
7
8
9
10